body {
  font-family: Poppins;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: linear-gradient(90deg,#ff512f,#dd2476);
  color: white;
  padding: 15px;
  text-align: center;
}

.form {
  background: white;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

button {
  background: #ff512f;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
}

#map {
  height: 400px;
  margin: 20px;
}